<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.maximoff.reminder" >
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
		android:resizeableActivity="true">
        <activity
            android:name=".MainActivity"
			android:launchMode="singleTask"
			android:enabled="true"
            android:configChanges="orientation|screenSize"
			android:windowSoftInputMode="stateHidden|adjustResize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
				<action android:name="android.intent.action.APPLICATION_PREFERENCES"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
        </activity>
		<service
			android:name=".UnlockService"
			android:enabled="true"
			android:exported="false" />
		<receiver
			android:name=".BootReceiver"
			android:enabled="true"
			android:exported="false">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
			</intent-filter>
		</receiver>
	</application>
</manifest>
